html {
  min-height: 100vh;
}
body {
  margin-top: -15px;
  padding: 0px;
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}

@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
