.chatter {
  font-size: 25px;
  margin-right: 10px;
}
.sendbtn {
  width: 20%;
  margin-left: 12px;
  background-color: #ffc802;
  color: #000;
  text-align: center;
  padding: 12px 12px;
  border-radius: 5px;
  border: none;
}

.chatmsgcont {
  width: 75%;
  background-color: #f5f5f5;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.leftbtns {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 396px) {
  .chatter {
    font-size: 16px;
    margin-right: 10px;
  }
  .sendbtn {
    width: 35%;
    margin-left: 12px;
  }
  .chatmsgcont {
    width: 65%;
  }
  .leftbtns {
    padding: 6px 12px;
    font-size: 13px;
  }
}
