.chatContainer{
    display:  flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      background-color: white;
      width: 66%;
      border: 1px solid lightgrey;
      border-radius: 12px;
}