.searchResCont {
  position: fixed;
  left: 20px;
  top: 165px;
  background-color: #030303c2;
  border-radius: 12px;
  color: white;
  height: 70vh;
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .searchResCont {
    width: 85%;
  }
}

@media (max-width: 396px) {
  .searchResCont {
    width: 85%;
  }
  .searchResCont {
    position: fixed;
    left: 30px;
  }
}
