.signup_form_cont {
  padding: 0px;
  margin-top: 85px;
  background-image: url("../assets/images/yellow_bg.png");
  background-size: cover;
  min-height: 100vh;
}
.signup_form {
  margin: 70px 25px;
  width: 720px;
  padding: 50px 35px;
  box-shadow: 0px 2px 6px 0px #b4b4b4;
  border-radius: 8px;
  background-color: #fff;
}
.loginform {
  width: 450px;
}
.form_group {
  margin-bottom: 20px;
}
h3 {
  font-family: "Varela Round";
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  border: none;
  border-bottom: 1px solid #636363;
  border-radius: 0;
  padding: 6px 0;
  color: #1a1a1a;
  width: 80%;
}
label {
  color: #1a2611;
  /* color: #d6a801ff; */
  margin: 0;
  font-size: 17px;
}

.form-control:focus {
  border: none;
  border-bottom: 1px solid #0a0b5c;
  box-shadow: none;
}
.submitBtn {
  background-color: #385a64;
  color: #fff;
  weight: 400;
  border: none;
  padding: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .loginform {
    width: 90%;
  }
}
